<div class="contact-container">
    <header class="contact-header text-center mb-4">
        <h2 class="fw-bold text-gradient mb-2 section-title">Contáctame</h2>
        <p class="section-subtitle" style="font-family: Orbitron;">¿Tienes un proyecto en mente? ¡Hablemos!</p>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-start"> <!-- Cambiado a align-items-start -->
            <!-- Iframe de Spline -->
            <div class="col-lg-6 col-md-6 order-lg-2 mb-4 mb-lg-0">
                <div class="spline-container">
                    <div class="spline-wrapper">
                        <iframe
                            src="https://my.spline.design/worldplanet-SMioVkgkCKGH6EQ5tdb0EOVp/"
                            frameborder="0"
                            allowfullscreen
                            class="spline-iframe"
                        ></iframe>
                    </div>
                    <div class="spline-title text-center mt-3 d-none d-lg-block" style="padding-right:320px; font-size: 14px;">
                        <h3 class="text-gradient mb-1 mt-3">Antonio De la Rua Fernandez</h3>
                        <hr style="color:aliceblue;">
                        <p class="text" style="color:grey; font-size: 20px; font-family: Orbitron;">
                            Hablemos de tu idea. ¿Comenzamos un nuevo proyecto? No dudes en contactarme. 
                        </p>
                    
                    </div>
                </div>
            </div>

            <!-- Formulario -->
            <div class="col-lg-6 col-md-8 order-lg-1"> <!-- Cambiado a col-md-8 -->
                <div class="" style="font-family: Orbitron;">
                    <app-form></app-form>
                </div>
            </div>
        </div>
    </div>
</div>