<section class="banner">
  <div class="overlay"></div>

  <div class="banner-content">
    <div class="banner-left" @fadeInUp>
      <h1>Descubre mi audiolibro personal</h1>
      <p>Es una herramienta que convierte archivos PDF o TXT en audiolibros automáticamente.</p>
      
    </div>

    <div class="banner-right" @fadeInUp>
      <p>🔒 Para acceder al lector debes iniciar sesión con tu cuenta google</p>
      <button routerLink="/libro">
        <span>AudioLibro</span>
      </button>
    </div>
  </div>
</section>
