<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/" style="color:aliceblue">RuXx<span>Dev.</span>Site</a>
    <div class="d-flex align-items-center">
      <!-- Enlace de Proyectos -->
      <a class="nav-link me-4" href="/skills" 
         style="color:aliceblue; font-family: Orbitron; font-weight: bold;">
        Skills
      </a>
       <a class="nav-link me-4" href="/Contacto" 
         style="color:aliceblue; font-family: Orbitron; font-weight: bold;">
        Contacto
      </a>
      
      <!-- Botón de Currículum -->
      <a class="btn " target="_blank" href="https://drive.google.com/file/d/1vSg4k8u_H5q4bQWxI7doolJkMmZsT6GE/view?usp=drive_link" 
         style="font-weight: bold; color: #fff; background-color: #07BDC4; text-decoration: none; font-family: Orbitron;">
        Currículum
      </a>
    </div>
  </div>
</nav>