<div class="hero-section">
  <!-- Robot arriba en móvil -->
  <div class="robot-container">
    <iframe
      src="https://my.spline.design/genkubgreetingrobot-zo31kTQNqe59mminva9R6Lol/"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <!-- Contenido abajo en móvil -->
  <main class="content">
    <div class="tag-box">
      <div class="tag">
        <h2 class="desktop-text">Antonio De la Rua Fernandez</h2>
        <h2 class="mobile-text">Antonio De la Rua</h2>
      </div>
    </div>

    <h1>Full Stack <br />Developer</h1>
    <p class="description">
      Desarrollador apasionado especializado en Angular, JavaScript y Node.js. Me encanta transformar ideas complejas
      en experiencias de usuario fluidas y eficientes. Siempre buscando nuevos desafíos que me permitan seguir
      creciendo profesionalmente.
    </p>

    <div class="buttons">
      <div class="social-buttons">
        <a href="https://www.linkedin.com/in/antonio-de-la-rua-fernandez-508b98243/" class="social-btn linkedin" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/Antonio-DelaRua" class="social-btn github" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://x.com/ruxxdeveloper" class="social-btn twitter" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/colinmcrua/" class="social-btn instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </main>
</div>

<img class="image-gradient" src="./assets/gradient.png" alt="gradient">
<div class="layer-blur"></div>