


.post{
  color:#07bdc4;
}

.linea{
  border-top: 2px solid aliceblue;
  margin-bottom: 40px;
  width: 80%;

}
.links {
  color: beige;
  text-decoration: none;
}

.home-table {
  background-color: transparent !important;
}

.home-table thead th {
  background-color: transparent !important;
  border-color: aliceblue !important;
}

.home-table tbody td {
  background-color: transparent !important;
  border-color: aliceblue !important;
}

.home-table tbody tr {
  background-color: transparent !important;
}